@use "./root" as *;

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

i[class] {
  display: block;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--primary-300);
  background-color: var(--neutral-100);
  line-height: var(--lh-500);
}
