$colors: (
  primary: (
    200: #697791,
    300: #5a6473,
    400: #505462,
    450: #4f5361,
    500: #063284,
    600: #002466,
    700: #0f1b4d,
    800: #000338,
  ),
  neutral: (
    100: #ffffff,
    300: #c4c4c4,
    400: #a1a5aa,
    500: #7a7a7f,
    600: #7c8488,
    700: #3b3c45,
    800: #1b1b1d,
    900: #0f0f0f,
  ),
  "blue": (
    300: #f6fafe,
    400: #e5f0ff,
    500: #058aff,
    600: #063183,
  ),
);
