/*===================================================================
  CSS reset source code: https://piccalil.li/blog/a-modern-css-reset/
====================================================================*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Generate custom properties from maps */
:root {
  /* Spacing */
  --container-width: 111rem;
  --section-spacing: 6rem;
  /* Colors */
  --primary-200: #697791;
  --primary-300: #5a6473;
  --primary-400: #505462;
  --primary-450: #4f5361;
  --primary-500: #063284;
  --primary-600: #002466;
  --primary-700: #0f1b4d;
  --primary-800: #000338;
  --neutral-100: #ffffff;
  --neutral-300: #c4c4c4;
  --neutral-400: #a1a5aa;
  --neutral-500: #7a7a7f;
  --neutral-600: #7c8488;
  --neutral-700: #3b3c45;
  --neutral-800: #1b1b1d;
  --neutral-900: #0f0f0f;
  --blue-300: #f6fafe;
  --blue-400: #e5f0ff;
  --blue-500: #058aff;
  --blue-600: #063183;
  /* Font size */
  --fs-100: 1.2rem;
  --fs-200: 1.3rem;
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3.2rem;
  /* Font weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  /* Line height */
  --lh-0: 1;
  --lh-100: 1.1;
  --lh-200: 1.2;
  --lh-300: 1.3;
  --lh-400: 1.4;
  --lh-500: 1.5;
}
@media screen and (min-width: 76.8em) {
  :root {
    --section-spacing: 12rem;
  }
}
@media screen and (min-width: 76.8em) {
  :root {
    --fs-100: 1.2rem;
    --fs-200: 1.3rem;
    --fs-300: 1.4rem;
    --fs-400: 1.6rem;
    --fs-500: 1.8rem;
    --fs-600: 2rem;
    --fs-700: 3.5rem;
    --fs-800: 6.4rem;
  }
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

h1,
.h1,
.text-xl {
  --flow-spacer: 0.8rem;
  font-size: var(--fs-800);
  font-weight: var(--fw-700);
}

h2,
.h2 {
  --flow-spacer: 1rem;
  font-size: var(--fs-700);
  font-weight: var(--fw-600);
  line-height: var(--lh-0);
}

h3,
.h3 {
  --flow-spacer: 2.6rem;
  font-size: var(--fs-600);
  font-weight: var(--fw-500);
  line-height: var(--lh-100);
}

.text-center {
  text-align: center;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--primary-300);
  background-color: var(--neutral-100);
  line-height: var(--lh-500);
}

.wrapper,
main,
.main {
  display: grid;
  grid-gap: var(--section-spacing);
}

.container {
  max-width: var(--container-width);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.width-full {
  width: 100%;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 0.75em);
}

.mt-4 {
  --flow-spacer: 0.4rem;
}

.mt-5 {
  --flow-spacer: 0.5rem;
}

.mt-6 {
  --flow-spacer: 0.6rem;
}

.mt-7 {
  --flow-spacer: 0.7rem;
}

.mt-8 {
  --flow-spacer: 0.8rem;
}

.mt-9 {
  --flow-spacer: 0.9rem;
}

.mt-10 {
  --flow-spacer: 1rem;
}

.mt-11 {
  --flow-spacer: 1.1rem;
}

.mt-12 {
  --flow-spacer: 1.2rem;
}

.mt-13 {
  --flow-spacer: 1.3rem;
}

.mt-14 {
  --flow-spacer: 1.4rem;
}

.mt-15 {
  --flow-spacer: 1.5rem;
}

.mt-16 {
  --flow-spacer: 1.6rem;
}

.mt-17 {
  --flow-spacer: 1.7rem;
}

.mt-18 {
  --flow-spacer: 1.8rem;
}

.mt-19 {
  --flow-spacer: 1.9rem;
}

.mt-20 {
  --flow-spacer: 2rem;
}

.mt-21 {
  --flow-spacer: 2.1rem;
}

.mt-22 {
  --flow-spacer: 2.2rem;
}

.mt-23 {
  --flow-spacer: 2.3rem;
}

.mt-24 {
  --flow-spacer: 2.4rem;
}

.mt-25 {
  --flow-spacer: 2.5rem;
}

.mt-26 {
  --flow-spacer: 2.6rem;
}

.mt-27 {
  --flow-spacer: 2.7rem;
}

.mt-28 {
  --flow-spacer: 2.8rem;
}

.mt-29 {
  --flow-spacer: 2.9rem;
}

.mt-30 {
  --flow-spacer: 3rem;
}

.mt-31 {
  --flow-spacer: 3.1rem;
}

.mt-32 {
  --flow-spacer: 3.2rem;
}

.mt-33 {
  --flow-spacer: 3.3rem;
}

.mt-34 {
  --flow-spacer: 3.4rem;
}

.mt-35 {
  --flow-spacer: 3.5rem;
}

.mt-36 {
  --flow-spacer: 3.6rem;
}

.mt-37 {
  --flow-spacer: 3.7rem;
}

.mt-38 {
  --flow-spacer: 3.8rem;
}

.mt-39 {
  --flow-spacer: 3.9rem;
}

.mt-40 {
  --flow-spacer: 4rem;
}

.mt-41 {
  --flow-spacer: 4.1rem;
}

.mt-42 {
  --flow-spacer: 4.2rem;
}

.mt-43 {
  --flow-spacer: 4.3rem;
}

.mt-44 {
  --flow-spacer: 4.4rem;
}

.mt-45 {
  --flow-spacer: 4.5rem;
}

.mt-46 {
  --flow-spacer: 4.6rem;
}

.mt-47 {
  --flow-spacer: 4.7rem;
}

.mt-48 {
  --flow-spacer: 4.8rem;
}

.mt-49 {
  --flow-spacer: 4.9rem;
}

.mt-50 {
  --flow-spacer: 5rem;
}

.mt-51 {
  --flow-spacer: 5.1rem;
}

.mt-52 {
  --flow-spacer: 5.2rem;
}

.mt-53 {
  --flow-spacer: 5.3rem;
}

.mt-54 {
  --flow-spacer: 5.4rem;
}

.mt-55 {
  --flow-spacer: 5.5rem;
}

.mt-56 {
  --flow-spacer: 5.6rem;
}

.mt-57 {
  --flow-spacer: 5.7rem;
}

.mt-58 {
  --flow-spacer: 5.8rem;
}

.mt-59 {
  --flow-spacer: 5.9rem;
}

.mt-60 {
  --flow-spacer: 6rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row-center {
  display: flex;
  align-items: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-8 {
  gap: 0.8rem;
}

.gap-9 {
  gap: 0.9rem;
}

.gap-10 {
  gap: 1rem;
}

.gap-11 {
  gap: 1.1rem;
}

.gap-12 {
  gap: 1.2rem;
}

.gap-13 {
  gap: 1.3rem;
}

.gap-14 {
  gap: 1.4rem;
}

.gap-15 {
  gap: 1.5rem;
}

.gap-16 {
  gap: 1.6rem;
}

.gap-17 {
  gap: 1.7rem;
}

.gap-18 {
  gap: 1.8rem;
}

.gap-19 {
  gap: 1.9rem;
}

.gap-20 {
  gap: 2rem;
}

.gap-21 {
  gap: 2.1rem;
}

.gap-22 {
  gap: 2.2rem;
}

.gap-23 {
  gap: 2.3rem;
}

.gap-24 {
  gap: 2.4rem;
}

.gap-25 {
  gap: 2.5rem;
}

.gap-26 {
  gap: 2.6rem;
}

.gap-27 {
  gap: 2.7rem;
}

.gap-28 {
  gap: 2.8rem;
}

.gap-29 {
  gap: 2.9rem;
}

.gap-30 {
  gap: 3rem;
}

.gap-31 {
  gap: 3.1rem;
}

.gap-32 {
  gap: 3.2rem;
}

.gap-33 {
  gap: 3.3rem;
}

.gap-34 {
  gap: 3.4rem;
}

.gap-35 {
  gap: 3.5rem;
}

.gap-36 {
  gap: 3.6rem;
}

.gap-37 {
  gap: 3.7rem;
}

.gap-38 {
  gap: 3.8rem;
}

.gap-39 {
  gap: 3.9rem;
}

.gap-40 {
  gap: 4rem;
}

.gap-41 {
  gap: 4.1rem;
}

.gap-42 {
  gap: 4.2rem;
}

.gap-43 {
  gap: 4.3rem;
}

.gap-44 {
  gap: 4.4rem;
}

.gap-45 {
  gap: 4.5rem;
}

.gap-46 {
  gap: 4.6rem;
}

.gap-47 {
  gap: 4.7rem;
}

.gap-48 {
  gap: 4.8rem;
}

.gap-49 {
  gap: 4.9rem;
}

.gap-50 {
  gap: 5rem;
}

.gap-51 {
  gap: 5.1rem;
}

.gap-52 {
  gap: 5.2rem;
}

.gap-53 {
  gap: 5.3rem;
}

.gap-54 {
  gap: 5.4rem;
}

.gap-55 {
  gap: 5.5rem;
}

.gap-56 {
  gap: 5.6rem;
}

.gap-57 {
  gap: 5.7rem;
}

.gap-58 {
  gap: 5.8rem;
}

.gap-59 {
  gap: 5.9rem;
}

.gap-60 {
  gap: 6rem;
}

.gap-61 {
  gap: 6.1rem;
}

.gap-62 {
  gap: 6.2rem;
}

.gap-63 {
  gap: 6.3rem;
}

.gap-64 {
  gap: 6.4rem;
}

.gap-65 {
  gap: 6.5rem;
}

.gap-66 {
  gap: 6.6rem;
}

.gap-67 {
  gap: 6.7rem;
}

.gap-68 {
  gap: 6.8rem;
}

.text-primary-200 {
  color: var(--primary-200);
}

.bg-primary-200 {
  background-color: var(--primary-200);
}

.text-primary-300 {
  color: var(--primary-300);
}

.bg-primary-300 {
  background-color: var(--primary-300);
}

.text-primary-400 {
  color: var(--primary-400);
}

.bg-primary-400 {
  background-color: var(--primary-400);
}

.text-primary-450 {
  color: var(--primary-450);
}

.bg-primary-450 {
  background-color: var(--primary-450);
}

.text-primary-500 {
  color: var(--primary-500);
}

.bg-primary-500 {
  background-color: var(--primary-500);
}

.text-primary-600 {
  color: var(--primary-600);
}

.bg-primary-600 {
  background-color: var(--primary-600);
}

.text-primary-700 {
  color: var(--primary-700);
}

.bg-primary-700 {
  background-color: var(--primary-700);
}

.text-primary-800 {
  color: var(--primary-800);
}

.bg-primary-800 {
  background-color: var(--primary-800);
}

.text-neutral-100 {
  color: var(--neutral-100);
}

.bg-neutral-100 {
  background-color: var(--neutral-100);
}

.text-neutral-300 {
  color: var(--neutral-300);
}

.bg-neutral-300 {
  background-color: var(--neutral-300);
}

.text-neutral-400 {
  color: var(--neutral-400);
}

.bg-neutral-400 {
  background-color: var(--neutral-400);
}

.text-neutral-500 {
  color: var(--neutral-500);
}

.bg-neutral-500 {
  background-color: var(--neutral-500);
}

.text-neutral-600 {
  color: var(--neutral-600);
}

.bg-neutral-600 {
  background-color: var(--neutral-600);
}

.text-neutral-700 {
  color: var(--neutral-700);
}

.bg-neutral-700 {
  background-color: var(--neutral-700);
}

.text-neutral-800 {
  color: var(--neutral-800);
}

.bg-neutral-800 {
  background-color: var(--neutral-800);
}

.text-neutral-900 {
  color: var(--neutral-900);
}

.bg-neutral-900 {
  background-color: var(--neutral-900);
}

.text-blue-300 {
  color: var(--blue-300);
}

.bg-blue-300 {
  background-color: var(--blue-300);
}

.text-blue-400 {
  color: var(--blue-400);
}

.bg-blue-400 {
  background-color: var(--blue-400);
}

.text-blue-500 {
  color: var(--blue-500);
}

.bg-blue-500 {
  background-color: var(--blue-500);
}

.text-blue-600 {
  color: var(--blue-600);
}

.bg-blue-600 {
  background-color: var(--blue-600);
}

.bg-transparent {
  background-color: transparent;
}

.text-transparent {
  color: transparent;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-weight: var(--fs-500);
  cursor: pointer;
}
.btn-sm {
  font-size: var(--fs-300);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
}
.btn-md {
  font-size: var(--fs-200);
  padding: 1.5rem 3.6rem;
  border-radius: 1.2rem;
}
.btn-text {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

[class*=arrow-link] {
  color: var(--blue-500);
  font-weight: var(--fw-500);
}
[class*=arrow-link] > * + * {
  margin-left: 0.8rem;
}
[class*=arrow-link][class^=sm] {
  font-size: var(--fs-300);
}
[class*=arrow-link][class^=md] {
  font-size: var(--fs-500);
}

.nav {
  padding-block: 2rem;
  font-size: var(--fs-300);
}

.logo {
  flex-shrink: 0;
}

.menu {
  margin-left: 6.4rem;
}

.banner {
  padding-top: 4rem;
}
.banner__content {
  max-width: 56rem;
}
.banner__title {
  max-width: 18ch;
}
.banner__img {
  margin-right: -10rem;
}
.banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}