.flow > * + * {
  margin-top: var(--flow-spacer, 0.75em);
}

@for $i from 4 to 61 {
  .mt-#{$i} {
    --flow-spacer: #{$i * 0.1}rem;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
