.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;

  font-weight: var(--fs-500);

  cursor: pointer;

  &-sm {
    font-size: var(--fs-300);
    padding: 1rem 2rem;
    border-radius: 0.8rem;
  }
  &-md {
    font-size: var(--fs-200);
    padding: 1.5rem 3.6rem;
    border-radius: 1.2rem;
  }
  &-text {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
}
