section.brand 
  div(class="container | flow")
    div(class="brand__about | flex-center-between")
      .flow.flex-col
        span.logo
          img(src="../images/logo.svg", alt="Logo")
        p.mt-23.lh-300.text-neutral-600 More than 45,000+ companies trust besnik
      div(class="brand__review | flex-col gap-14")
        div(class="brand__stars | flex-row-center gap-4")
          img(src="../images/star.png", alt="star")
          img(src="../images/star.png", alt="star")
          img(src="../images/star.png", alt="star")
          img(src="../images/star.png", alt="star")
          img(src="../images/star.png", alt="star")
        p.mt-23.lh-300.text-neutral-600 5 Star Ratings (2k+ Review)
    div(class="brand__list | flex-center-between mt-70 gap-24")
      img(src="../images/meundies.png", alt="meUndies")
      img(src="../images/slack.png", alt="slack")
      img(src="../images/amazon.png", alt="amazon")
      img(src="../images/woocommerce.png", alt="woocommerce")
      img(src="../images/sitepoint.png", alt="meUndies")