section.guideline 
  .container.container-685.flow.flex-col-center
    div.section-bar.bg-neutral-800
    h2.text-neutral-800.mt-10 How its works ?
    p(class="guideline__desc |").mt-20.text-center Everything you need to know when you're looking to buy, rent, or sell - all in one place.
    div(class="guideline-list | flex-center-between gap-28 mt-70 width-full")
      +guidelineItem("Buyer Guides", "How to buy", "../images/buyer.png")
      +guidelineItem("Renter Guides", "How to rent", "../images/renter.png")
      +guidelineItem("Seller Guides", "How to sell", "../images/seller.png")
    button(class="btn btn-md | bg-primary-800 text-neutral-100 mt-46") See Full Guidelines