header(class="header | bg-blue-400")
  include ./navigation
  div(class="banner | container flex-row-center")
    div(class="banner__content | flow flex-col")
      span(class="banner__caption | fs-500") Welcome to Besnik Agency
      h1(class="banner__title | text-primary-800 mt-8") Discover a place you'll love to live.
      p(class="banner__desc | fs-500 mt-30") get the best real estate deals first, before they hit the mass market! HOT FORECLOSURE DEALS with one simple search
      button(class="btn btn-md | text-neutral-100 bg-primary-700 mt-40") More About Us
    div(class="banner__img")
      img(src="../images/hero.png", alt="House")