nav(class="nav | container flex-row-center")
  .logo 
    img(src="../images/logo.svg", alt="Logo")
  button(class="toggle | text-primary-700")
    .burger
      i.fa-solid.fa-bars
    .times
      i.fa.fa-times
  ul(class="menu | flex-center-between gap-30 width-full")
    li(class="menu__item")
      a(class="menu__link | text-primary-450") Home
    li(class="menu__item")
      a(class="menu__link | text-primary-450") Features
    li(class="menu__item")
      a(class="menu__link | text-primary-450") Service
    li(class="menu__item")
      a(class="menu__link | text-primary-450") Listed
    li(class="menu__item")
      a(class="menu__link | text-primary-450") Contact
    li(class="menu__action | ml-auto flex-row-center gap-18")
      button(class="btn btn-text | text-primary-700") Login
      button(class="btn btn-sm | text-neutral-100 bg-primary-700") Register
  