section.number 
  .container.container-1048.flow 
    .number-intro(class="| flex-center-between gap-24")
      .number-img 
        img(src="../images/card.png", alt="")
      .number-info.flow.flex-col
        div.section-bar.bg-neutral-800
        h2(class="number-title").text-neutral-800.mt-10 You’ve found a neighborhood you love.
        p(class="number-desc |").mt-20 When you own a home, you’re committing to living in one location for a while. In a recent Trulia survey, we found that five out of six respondents said finding the right neighborhood 
    div(class="number-spec | flex-center-between gap-28")
      div(class="number-group | flex-col-center gap-24")
        span.h1.text-primary-800.lh-0 2500
        p.fs-500.fext-neutral-600 Homes For Sale
      div(class="number-group | flex-col-center gap-24")
        span.h1.text-primary-800.lh-0 5000+
        p.fs-500.fext-neutral-600 Homes Recently Sold
      div(class="number-group | flex-col-center gap-24")
        span.h1.text-primary-800.lh-0 170+
        p.fs-500.fext-neutral-600 Price Reduced